doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
        title asd
    body
        nav(class="navbar navbar-expand-sm bg-light justify-content-center")
            ul(class="navbar-nav")
                li(class="nav-item")
                    a(class="nav-link" href="/") INDEX
                li(class="nav-item")
                    a(class="nav-link" href="/item") AGREGAR ITEM
                li(class="nav-item")
                    a(class="nav-link" href="/list") AGREGAR LISTA
                li(class="nav-item")
                    a(class="nav-link" href="/list/listas") VER LISTAS
        .container
            .row
                .col
                .col
                    h1 BIENVENIDO A #{title}
                .col
            .row
                table(class="table")
                    thead(class="thead-light")
                        tr
                            th ID
                            th TITULO
                            th ESTADO
                            th FECHA DE CREACION
                            th FECHA DE MODIFICACION
                            th FECHA DE RESOLUCION
                    tbody
                        each val in lista
                            tr
                                td #{val.id}
                                td #{val.titulo}
                                td #{val.estado}
                                td #{val.createdAt}
                                td #{val.updatedAt}
                                td #{val.fecha_resolucion}
                                td
                                    button(type="button" class="btn btn-danger" onclick="verItems(this);") VER
                                td
                                    button(type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" onclick="llenarForm(this);") MODIFICAR
            .row
                div(class="modal fade" id="myModal" role="dialog")
                    div(class="modal-dialog")
                        div(class="modal-content")
                            div(class="modal-header")
                                button(type="button" class="close" data-dismiss="modal") &times;
                                h4(class="modal-title") Modificar
                            div(class="modal-body")
                                include form.pug
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
        script.
            function verItems(e){
                const pa = e.parentNode.parentNode;
                let myArr = pa.childNodes;
                console.log(myArr);
                window.location.href = `http://localhost:3000/item/${myArr[1].innerHTML}`;
            };

            function llenarForm(e){
                let sel = document.getElementsByTagName('select');
                const pa = e.parentNode.parentNode;
                let myArr = pa.childNodes;
                console.log(myArr);
                document.getElementById('idList').value = myArr[1].innerHTML;
                document.getElementById('titulo').value = myArr[3].innerHTML;
                document.getElementsByTagName('select')[0].value = myArr[5].innerHTML;
                document.getElementById('fechaC').value = myArr[7].innerHTML;
                document.getElementById('fechaR').value = myArr[11].innerHTML;
            }